* {
  background-color: antiquewhite;
  border: 0;
  margin: 0;
  padding: 0;
}

.link {
  background-color: rgb(202, 205, 164);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
}

.input {
  background-color: white;
  border: 2px solid;
  border-color: rgb(177, 177, 177);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  width: 500px;
}

textarea {
  background-color: white;
  border: 2px solid;
  border-color: rgb(177, 177, 177);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  width: 500px;
}

button {
  background-color: rgb(181, 158, 128);
  border: 3px solid;
  border-radius: 10px;
  padding: 4px;
}

form {
  align-items: center;
  border: 2px solid rgb(163, 163, 163);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 0 400px;
}

.load {
  text-align: center;
}

.album-contain {
  border: 2px solid rgb(78, 78, 78);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}

.album-box {
  background-color: aliceblue;
  border: 2px solid green;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: small;
  margin: 10px;
  max-height: 250px;
  padding: 10px;
  width: 150px;
}

.album-view {
  background-color: rgb(224, 224, 224);
  border: 2px solid rgb(139, 139, 139);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  font-size: medium;
  height: 450px;
  margin: 10px;
  padding: 10px;
  width: 350px;
}

.music-contain {
  border: 2px solid rgb(195, 195, 195);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  padding: 10px;
}

.preview-box {
  border: 2px solid black;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.profile, div {
  margin: 20px;
}

.profile-image {
  border: 3px solid black;
}
